{{template "base" .}}

{{define "content"}}

<div>
  <h1>This is the About Page</h1>

  <p>This came from the template: {{index .StringMap "test"}}</p>
</div>

<p>
  	{{if ne (index .StringMap "remote_ip") ""}}
    	Your remote IP address is {{ index .StringMap "remote_ip" }}
  	{{ else }}
   		I don't know your ip address yet. Visit the <a href="/">Home Page </a> so I can set it.
	{{ end }}
</p>

{{ end }}


